@page
@model eL_Etiz.Website.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Us";
}

<h1>@ViewData["Title"]</h1>
<div>
    <p>You can reach us through the following media:</p>
    <br />eL_Eti'z Foods
    <br />07089502585, 08130223583
</div>
